@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

.nav-bar,
.footerNote,
.main {
  display: none;
}

body {
  font-family: 'Hind', sans-serif;
}

.divCont {
  margin: auto;
  width: 40%;
  border: 2px solid black;
  padding: 10px;
}

.img {
  width: 220px;
  align-items: center;
}

.name {
  font-size: 30px;
}

.size {
  font-size: 20px;
}

.popcontainer {
  text-align: center;
}

.popcontainer1 {
  display: flex;
  gap: 8rem;
  justify-content: center;
}

.lowerdiv {
  display: flex;
  gap: 8rem;
  justify-content: center;
}

#close-popup {
  display: block;
  text-align: right;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
  padding: 20px 30px 0 0;
}
