body {
  position: relative;
}

.dNone {
  display: none;
}

section.popup-window {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.divCont {
  margin: auto;
  width: 40%;
  border: 2px solid black;
  padding: 10px;
}

.img {
  width: 220px;
  align-items: center;
}

.name {
  font-size: 30px;
}

.size {
  font-size: 20px;
}

.popcontainer {
  text-align: center;
}

.popcontainer1 {
  display: flex;
  gap: 8rem;
  justify-content: center;
}

.lowerdiv {
  display: flex;
  gap: 8rem;
  justify-content: center;
}

.close-popup {
  display: block;
  width: 20px;
  margin-left: auto;
  cursor: pointer;
  font-size: 18px;
  font-weight: 900;
}

.divComments {
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0.5rem;
}

.commentsDiv {
  text-align: center;
  padding-top: 30px;
  justify-content: center;
}

.comments {
  font-weight: 700;
  font-size: 20px;
}

th {
  background-color: #eafaf1;
}

.formDiv {
  text-align: center;
  padding-top: 30px;
  justify-content: center;
}

.com-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.com-form input,
.com-form button {
  width: 250px;
  border: 2px solid #000;
  height: 35px;
  padding-left: 10px;
  outline: none;
}

.com-form button {
  box-shadow: 2px 2px 4px 0;
  cursor: pointer;
}

.com-form textarea {
  width: 250px;
  height: 155px;
  border: 2px solid #000;
  outline: none;
  padding: 5px;
}
