body {
  padding: 0;
}

.nav-bar {
  display: flex;
  background: black;
  color: #fff;
}

.logo-text {
  font-size: 15px;
}

.links {
  display: flex;
  align-items: center;
}

.ul-links {
  list-style: none;
  display: flex;
  font-weight: bold;
}

li {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

.ul-links li a:hover {
  color: #4472e7;
}
